.btn_category {
  margin: 0 2vw;
  background-color: transparent;
  color: #04a1ff;
  border: 1px solid #04a1ff;
  border-radius: 1vw;
  padding: 0.4vw 1vw;
  cursor: pointer;
  font-size: 1vw;
}
.btn_category.active {
  background-color: #0288d140;
}
