.Products_section2_items {
  display: flex;
  justify-content: center;
}

.Products_section2_items > div {
  display: flex;
  /* gap: 40px; */
  gap: 2.1vw;
  overflow-x: auto;
  scroll-behavior: smooth; /* 부드러운 스크롤 */
  /* padding: 40px; */
  padding: 2.1vw;
}
.Products_section2_items > div::-webkit-scrollbar {
  display: none;
}
.Products_section2_items > div::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

.Products_section2_items > div > div {
  border-radius: 32px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0 0 16px 8px rgba(4, 161, 255, 0.05);
  transition: 0.5s;
  cursor: pointer;
}

.Products_section2_items > div > div:hover {
  box-shadow: 0 0 16px 8px rgba(4, 161, 255, 0.1);
  transform: scale(1.03);
  transition: 0.5s;
}
.Products_section2_items img {
  /* width: 450px; */
  width: 23.45vw;
  /* height: 300px; */
  height: 15.55vw;
}
.Products_section2_items_title {
  /* font-size: 32px; */
  font-size: 1.65vw;
  /* margin-bottom: 16px; */
  margin-bottom: 0.85vw;
}
.Products_section2_items_description {
  /* font-size: 14px; */
  font-size: 0.75vw;
}
