/* reset.css */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #202124;
}
.solution_banner {
  width: 100%;
  height: 600px;
  background-image: url(../../images/solution/solution_banner.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 64px;
  font-weight: bold;
  color: #ffffff;
}
.container {
  width: 1440px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin: 200px 0 200px 0;
}

/* section1 */
.solution_section1_title {
  display: flex;
  width: 100%;
  height: 90px;
  align-items: center;
}
.circle_green {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #4fd782;
  margin-right: 16px;
}

.solution_section1_title > div:last-child {
  font-weight: bold;
  font-size: 64px;
  color: #ffffff;
}
.solution_section1_img_contents {
  padding-top: 100px;
}

.solution_section1_img_contents > div:first-child {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.solution_section1_img_contents_title {
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
}
.solution_section1_img_contents img {
  width: 640px;
  height: 588px;
  padding-top: 16px;
}

.before,
.after {
  border: 5px double #c1c1c1;
  border-radius: 10px;
  padding: 16px;
}
.solution_section1_description {
  text-align: center;
  font-size: 32px;
  color: #ffffff;
  padding-top: 40px;
}
.solution_section1_description > div:first-child {
  padding-bottom: 8px;
}
.icon_arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon_arrow > img {
  width: 140px;
  height: 120px;
}

/* section2 */
.solution_section2 {
  padding-top: 200px;
  align-self: center;
  width: 1346px;
  position: relative;
}
.solution_section2_step1 {
  padding-bottom: 200px;
}
.solution_section2_step1_title {
  width: fit-content;
  display: flex;
}
.circle_blue {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #04a1ff;
  align-self: center;
}
.solution_section2_step1_title > div:last-child {
  font-weight: bold;
  font-size: 40px;
  color: #ffffff;
  padding-left: 16px;
  line-height: 140%;
}
.solution_section2_step1_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  border: 1px solid #c1c1c1;
  border-radius: 10px;
  background-color: #202124;
}
.solution_section2_step1_content > div {
  padding-top: 40px;
}
.solution_section2_step1 img {
  width: 1234px;
  height: 500px;
}
.solution_section2_step1_content > div:nth-child(2) {
  font-size: 40px;
  color: #ffffff;
  font-weight: bold;
}
.solution_section2_step1_description {
  text-align: center;
  font-size: 32px;
  color: #ffffff;
}

/* section2 의 세로줄 */
.vertical_line > hr {
  width: 2px;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

/* section3 */
.solution_section3 {
  border: 1px solid #c1c1c1;
  border-radius: 10px;
  padding: 40px;
}
.solution_section3 > div:first-child {
  margin-bottom: 40px;
}
.solution_section3_title {
  display: flex;
  align-items: center;
  height: 90px;
  font-weight: bold;
  font-size: 64px;
  color: #ffffff;
  margin-right: 80px;
}
.Solution_section3_ContentsBox{
  display: flex;
  align-items: center;
}

.solution_section3_description {
  font-size: 32px;
  color: #ffffff;
}

/* section4 */
.solution_section4 {
  margin-top: 200px;
  border: 1px solid #c1c1c1;
  border-radius: 10px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.solution_section4 > div:first-child {
  width: 1278px;
}

.solution_section4 img {
  width: 100%;
  padding-top: 80px;
}

.solution_section4_title {
  display: flex;
  height: 90px;
  align-items: center;
  justify-content: center;
}
.solution_section4_title > div:last-child {
  font-weight: bold;
  font-size: 64px;
  color: #ffffff;
}
.solution_section4_description {
  font-size: 32px;
  color: #ffffff;
  padding-top: 40px;
}

/* section5 */
.solution_section5 {
  margin-top: 200px;
  border: 1px solid #c1c1c1;
  border-radius: 10px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.solution_section5_title {
  display: flex;
  align-items: center;
  height: 90px;
  font-weight: bold;
  font-size: 64px;
  color: #ffffff;
}
.solution_section5_title > div:last-child {
}
.solution_section5_description {
  font-size: 32px;
  color: #ffffff;
  margin: 40px 0 40px 0;
}

.solution_section5 img {
  width: 100%;
}

.solution_section5_img_contents > div:first-child {
  border: 1px solid #c1c1c1;
  border-radius: 10px;
  padding: 16px;
}
.solution_section5_img_contents > div:last-child {
  background-color: #ffffff;
  padding: 40px;
  margin-top: 40px;
  border-radius: 10px;
}
