/* reset.css */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.2;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #202124;
}
.solution_banner {
  width: 100%;
  height: 30vw;
  background-image: url(../../images/solution/solution_banner.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 3.2vw;
  font-weight: bold;
  color: #ffffff;
}
.container {
  width: 75vw;
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin: 10vw 0;
  white-space: pre-line;
}

/* section1 */
.solution_section1_title {
  display: flex;
  width: 100%;
  /* height: 90px; */
  height: 4.7vw;
  align-items: center;
}
.circle_green {
  /* width: 15px; */
  width: 0.75vw;
  /* height: 15px; */
  height: 0.75vw;
  border-radius: 50%;
  background-color: #4fd782;
  /* margin-right: 16px; */
  margin-right: 0.84vw;
}

.solution_section1_title > div:last-child {
  font-weight: bold;
  font-size: 3.2vw;
  color: #ffffff;
}
.solution_section1_img_contents {
  /* padding-top: 100px; */
  padding-top: 5.2vw;
}

.solution_section1_img_contents > div:first-child {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.solution_section1_img_contents_title {
  font-size: 2vw;
  font-weight: bold;
  color: #ffffff;
}
.solution_section1_img_contents img {
  /* width: 640px; */
  width: 33.35vw;
  /* height: 588px; */
  height: 30.6vw;
  padding-top: 0.8vw;
}

.before,
.after {
  border: 5px double #c1c1c1;
  border-radius: 0.5vw;
  padding: 0.8vw;
}
.solution_section1_description {
  text-align: center;
  font-size: 1.4vw;
  color: #ffffff;
  padding-top: 2vw;
}
.solution_section1_description > div:first-child {
  padding-bottom: 8px;
}
.icon_arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon_arrow > img {
  /* width: 140px; */
  width: 7.3vw;
  /* height: 120px; */
  height: 6.3vw;
}

/* section2 */
.solution_section2 {
  padding-top: 5vw;
  align-self: center;
  width: 68vw;
  position: relative;
}
.solution_section2_step1 {
  padding-bottom: 5vw;
}
.solution_section2_step1_title {
  width: fit-content;
  display: flex;
}
.circle_blue {
  width: 0.5vw;
  height: 0.5vw;
  border-radius: 50%;
  background-color: #04a1ff;
  align-self: center;
}
.solution_section2_step1_title > div:last-child {
  font-weight: bold;
  font-size: 2vw;
  color: #ffffff;
  padding-left: 0.8vw;
  line-height: 140%;
}
.solution_section2_step1_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vw;
  border: 1px solid #c1c1c1;
  border-radius: 0.5vw;
  background-color: #202124;
}
.solution_section2_step1_content > div {
  padding-top: 2vw;
}
.solution_section2_step1 img {
  width: 63vw;
  height: 25vw;
}
.solution_section2_step1_content > div:nth-child(2) {
  font-size: 2vw;
  color: #ffffff;
  font-weight: bold;
}
.solution_section2_step1_description {
  text-align: center;
  font-size: 1.4vw;
  color: #ffffff;
}

/* section2 의 세로줄 */
.vertical_line > hr {
  width: 2px;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

/* section3 */
.solution_section3 {
  border: 1px solid #c1c1c1;
  border-radius: 0.5vw;
  padding: 2vw;
  margin-top: 2vw;
  margin-bottom: 5vw;
}
.solution_section3 > div:first-child {
  margin-bottom: 2vw;
}
.solution_section3_title {
  display: flex;
  align-items: center;
  height: 5vw;
  font-weight: bold;
  font-size: 3.2vw;
  color: #ffffff;
  margin-right: 3vw;
}
.Solution_section3_ContentsBox{
  display: flex;
  align-items: center;
}

.solution_section3_description {
  font-size: 1.4vw;
  color: #ffffff;
}

.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vw;
  width: 50%;
  max-width: 900px; /* 최대 크기 제한 */
  margin: 0 auto;
}

.carousel-container_box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  width: 100%;
}

.model-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
}

/* iframe 반응형 */
.model-display iframe {
  width: 100%;
  aspect-ratio: 4 / 3; /* 640x480 비율 유지 */
  border: none;
  border-radius: 8px;
}

.nav-button {
  background-color: #202124;
  border: none;
  font-size: 2rem;
  color: #888;
  cursor: pointer;
  padding: 0 10px;
  transition: color 0.2s ease;
}
.nav-button:hover {
  color: #ffffff;
}

.indicator {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.dot {
  height: 0.3vw;
  width: 0.6vw;
  margin: 0 0.3vw;
  background-color: #888;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
}
.dot.active {
  background-color: #ffffff;
}

.model-caption {
  font-size: 0.85rem;
  font-weight: normal;
  margin: 5px;
  text-align: center;
  color: #4A4A4A;
  word-break: keep-all;
}
.model-caption a {
  font-weight: bold;
  color: #1CAAD9;
  margin-right: 5px;
}

/* section4 */
.solution_section4 {
  margin-top: 2vw;
  margin-bottom: 5vw;
  border: 1px solid #c1c1c1;
  border-radius: 0.5vw;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.solution_section4 > div:first-child {
  width: 64vw;
}

.solution_section4 img {
  width: 100%;
  padding-top: 0.4vw;
}

.solution_section4_title {
  display: flex;
  height: 4.5vw;
  align-items: center;
  /* justify-content: center; */
}
.solution_section4_title > div:last-child {
  font-weight: bold;
  font-size: 3.2vw;
  color: #ffffff;
}
.solution_section4_description {
  font-size: 1.4vw;
  color: #ffffff;
  padding-top: 2vw;
}

/* section5 */
.solution_section5 {
  margin-top: 2vw;
  border: 1px solid #c1c1c1;
  border-radius: 0.5vw;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.solution_section5_title {
  display: flex;
  align-items: center;
  height: 5vw;
  font-weight: bold;
  font-size: 3.2vw;
  color: #ffffff;
}
.solution_section5_title > div:last-child {
}
.solution_section5_description {
  font-size: 1.6vw;
  color: #ffffff;
  margin: 2vw 0 ;
}

.solution_section5 img {
  width: 100%;
}

.solution_section5_img_contents > div:first-child {
  border: 1px solid #c1c1c1;
  border-radius: 0.5vw;
  padding: 0.8vw;
}
.solution_section5_img_contents > div:last-child {
  background-color: #ffffff;
  padding: 2vw;
  margin-top: 2vw;
  border-radius: 0.5vw;
}
