.about_title{
    position: absolute;
    top: 40%;
    left: 12%;
    color: white;
    /* font-size: 64px; */
    font-size: 3.3vw;
}

.about_title2{
    position: absolute;
    top: 36%;
    left: 12%;
    color: white;
    /* font-size: 40px; */
    font-size: 2vw;
    width: 800px;
    line-height: 1.2;
}
.About_Section{
    /* height: 900px; */
    height: 46.5vw;
    display: flex;
    align-items: center;
}

.about_sub_title2{
    position: absolute;
    top: 55%;
    left: 12%;
    color: white;
    font-size: 14px;
    font-size: 1.2vw;
    width: 800px;
    
}
.about_info_img{
    /* width: 680px; */
    width: 35.5vw;
    /* margin-left: 240px; */
    margin-left: 12.5vw;
}
.about_info{
    /* width: 680px; */
    width: 35.5vw;
    /* margin-left: 80px; */
    margin-left: 4.1vw;
    /* font-size: 32px; */
    font-size: 1.67vw;
    color: white;
    line-height: 1.2;
}
.Section3{
    width: 100%;
    background-color: white;
}

.timeline {
    position: relative;
    padding: 20px;
    width: 400px;
  }
  
  .line {
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    width: 2px;
    background: #0096ff; /* 파란색 세로선 */
    margin-left: 5px;
  }
  
  .timeline-item {
    position: relative;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
  }
  
  .dot {
    width: 0.5vw;
    height: 0.5vw;
    background: #0096ff; /* 파란색 원 */
    border-radius: 50%;
    margin-right: 20px;
    z-index: 1;
  }
  
  .content {
    background: transparent; /* 필요하면 박스 배경 추가 */
    padding: 5px 10px;
    font-size: 16px;
    color: black;
  }
  

  .wrapper {
    min-height: 100vh;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    color: #fff;
    position: relative;
  }
  
  section {
    height: 100vh;
    font-size: 40px;
    font-weight: 100;
    background-color: #22A7F0;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* 배경 색상 지정 */
  section:nth-child(1) { background: #202124; }
  section:nth-child(2) { background: #1a1c20; }
  section:nth-child(3) { background: #25272b; }
  section:nth-child(4) { background: #2d2f33; }
  section:nth-child(5) { background: #34363a; }
  section:nth-child(6) { background: #3a3c42; }
  
  .nav__wrapper {
    position: fixed;
    height: 100%;
    padding: 30px;
  
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
  }
  
  .nav {
    margin: 0 0 100px 30px;
  }
  
  .nav__link {
    display: block;
    padding: 0;
    color: #fff;
    background: none;
    border: none;
    text-align: left;
    width: 100%;
    cursor: pointer;
    transition: all 0.15s ease-out;
  }
  
  .nav__link:hover {
    background-color: transparent;
    padding-left: 1em;
  }
  
  .nav__link:focus {
    outline: none;
  }
  
  .nav__counter {
    font-size: 24px;
    transition: all 0.15s ease-out;
  }
  
  .nav__title {
    font-size: 32px;
    font-weight: 300;
    margin: 0 0 0.25em;
    width: 300px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: height 0.3s ease-out, opacity 0.2s ease-out;
  }
  
  .nav__body {
    font-weight: 100;
    font-size: 18px;
    width: 300px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: height 0.3s ease-out, opacity 0.2s ease-out;
  }
  
  .nav li {
    position: relative;
    transition: all 0.3s ease-out;
    margin-bottom: 1em;
  }
  
  .nav li:after {
    content: '';
    display: block;
    border-left: 2px solid white;
    border-top: 2px solid white;
    height: 250px;
    width: 20px;
    position: absolute;
    left: -30px;
    top: 15px;
  }
  
  .nav li.active {
    pointer-events: none;
    padding-left: 1em;
  }
  
  .nav li.active:after {
    width: 35px;
    height: 400px;
    top: 35px;
  }
  
  .nav li.active .nav__counter {
    font-size: 48px;
  }
  
  .nav li.active .nav__title {
    height: 40px;
    opacity: 1;
    overflow: visible;
  }
  
  .nav li.active .nav__body {
    height: 100px;
    opacity: 1;
    overflow: visible;
  }
  